<div class="di-modal-container batch-editor-modal">
<div class="modal">

  <div class="modal-header">
    <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: batchEditor.close"></i>
    <h4 class="metadata-modal-heading">
      <!-- ko if: batchEditor.modalView() === 'index' --><!-- ko text: 'Edit all (' + results.count() + ' items)' --><!-- /ko --><!-- /ko -->
      <!-- ko if: batchEditor.modalView() === 'add' --><!-- ko text: 'Add to ' + batchEditor.selectedFacet().name --><!-- /ko --><!-- /ko -->
      <!-- ko if: batchEditor.modalView() === 'remove' --><!-- ko text: 'Remove from ' + batchEditor.selectedFacet().name --><!-- /ko --><!-- /ko -->
    </h4>
  </div>

  <div class="modal-body">
    <!-- ko if: batchEditor.modalView() === 'index' -->
      <!-- ko foreach: batchEditor.facets -->
        <div style="overflow:auto;">
          <small class="pull-right">
            <a href="#" data-bind="click: $root.batchEditor.showAddView">Add</a>
            <a href="#" style="margin-left:5px;" data-bind="click: $root.batchEditor.showRemoveView">Remove</a>
            <a href="#" style="margin-left:5px;" data-bind="click: $root.batchEditor.showEmptyConfirmationModal">Empty</a>
          </small>
          <small data-bind="text: name"></small>
        </div>
      <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: batchEditor.modalView() === 'add' -->
      <div>
        <small>Name</small>
        <br>
        <input type="text" id="batch-add-input" style="width:200px;">
        <div style="margin-top:10px;">
          <div>
            <button class="btn btn-primary" data-bind="click: batchEditor.addValue">Add</button>
            <button class="btn btn-small btn-link" data-bind="click: batchEditor.showIndexView">Cancel</button>
          </div>
        </div>
      </div>
    <!-- /ko -->

    <!-- ko if: batchEditor.modalView() === 'remove' -->
      <div>
        <small>Name</small>
        <br>
        <input type="text" id="batch-remove-input" style="width:200px;">
        <div style="margin-top:10px;">
          <div>
            <button class="btn btn-primary" data-bind="click: batchEditor.removeValue">Remove</button>
            <button class="btn btn-small btn-link" data-bind="click: batchEditor.showIndexView">Cancel</button>
          </div>
        </div>
      </div>
    <!-- /ko -->
  </div>
</div>
</div>
