<div class="di-modal-container delete-modal">
  <div class="modal">
  
    <div class="modal-header">
      <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: facetEditor.hideDeleteConfirmationModal"></i>
      <h5 class="metadata-modal-heading">Are you sure you want to delete this facet?</h5>
    </div>
  
    <div class="modal-body clearfix">
      <div class="waiting"></div>
      <!-- ko if: facetEditor.selectedFacet -->
        <div data-bind="text: facetEditor.selectedFacet().name"></div>
      <!-- /ko -->
      <div style="margin-top:20px;">
        <button class="btn btn-primary" data-bind="click: facetEditor.deleteFacet">Delete</button>
        <button class="btn btn-small btn-link" data-bind="click: facetEditor.hideDeleteConfirmationModal">Cancel</button>
      </div>
    </div>
  </div>
</div>
