<div class="di-modal-container empty-modal">
  <div class="modal">
    <div class="modal-header">
      <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: batchEditor.hideEmptyConfirmationModal"></i>
      <h5 class="metadata-modal-heading">Are you sure you want to empty this facet?</h5>
    </div>
  
    <div class="modal-body clearfix">
      <div class="waiting"></div>
      <!-- ko if: batchEditor.selectedFacet -->
        <div data-bind="text: batchEditor.selectedFacet().name"></div>
      <!-- /ko -->
      <div style="margin-top:20px;">
        <button class="btn btn-primary" data-bind="click: batchEditor.emptyFacet">Empty</button>
        <button class="btn btn-small btn-link" data-bind="click: batchEditor.hideEmptyConfirmationModal">Cancel</button>
      </div>
    </div>
  </div>
</div>
