<div class="di-modal-container facet-editor-modal">
  <div class="modal" style="width:280px;">
  
    <div class="modal-header">
      <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: facetEditor.hide"></i>
      <h4 class="metadata-modal-heading">
        <!-- ko if: facetEditor.modalPage() === 'index' --><!-- ko text: 'Facets' --><!-- /ko --><!-- /ko -->
        <!-- ko if: facetEditor.modalPage() === 'edit' --><!-- ko text: 'Rename facet' --><!-- /ko --><!-- /ko -->
        <!-- ko if: facetEditor.modalPage() === 'new' --><!-- ko text: 'New facet' --><!-- /ko --><!-- /ko -->
        <!-- ko if: facetEditor.modalPage() === 'reorder' --><!-- ko text: 'Reorder facets' --><!-- /ko --><!-- /ko -->
      </h4>
    </div>
    
    <div class="modal-body">
      <!-- ko if: facetEditor.modalPage() === 'index' -->
        <div data-bind="foreach: facetEditor.facets">
          <div class="facet-editor-list-item">
            <small data-bind="text: name"></small>
            <small class="pull-right">
              <a href="#" data-bind="click: $root.facetEditor.selectFacet">Rename</a>
              <a href="#" style="margin-left:5px;" data-bind="click: $root.facetEditor.showDeleteConfirmationModal">Delete</a>
            </small>
          </div>
        </div>
        <hr style="margin:20px -20px;">
        <div style="padding: 0 2px;">
          <small>
            <a href="#" data-bind="click: facetEditor.showNew">New facet</a>
            <br>
            <a href="#" data-bind="click: facetEditor.showReorder">Reorder facets</a>
          </small>
        </div>
      <!-- /ko -->
      
      <!-- ko if: facetEditor.modalPage() === 'edit' -->
        <div>
          <small>Name</small>
          <br>
          <input type="text" id="facet-to-rename" style="width:200px;">
          <div style="margin-top:-10px;">
            <small class="text-error" id="rename-facet-error">A facet with that name already exists.</small>
          </div>
          <div style="margin-top:20px;">
            <div>
              <button class="btn btn-primary" data-bind="click: facetEditor.renameFacet">Rename</button>
              <button class="btn btn-small btn-link" data-bind="click: facetEditor.showIndex">Cancel</button>
            </div>
          </div>
        </div>
      <!-- /ko -->
      
      <!-- ko if: facetEditor.modalPage() === 'new' -->
        <form data-bind="submit: facetEditor.addFacet" style="margin:0;">
          <small>Name</small>
          <br>
          <input type="text" id="facet-to-add" style="width:200px;" data-bind="value: facetEditor.facetToAdd">
          <div style="margin-top:-10px;">
            <small class="text-error" id="add-facet-error">A facet with that name already exists.</small>
          </div>
          <div style="margin-top:20px;">
            <div>
              <input type="submit" class="btn btn-primary" value="Create">
              <button class="btn btn-small btn-link" data-bind="click: facetEditor.cancelNew">Cancel</button>
            </div>
          </div>
        </form>
      <!-- /ko -->
      
      <!-- ko if: facetEditor.modalPage() === 'reorder' -->
        <div>
          <div data-bind="foreach: facetsReorder.facets">
            <div class="facet-editor-list-item">
              <span data-bind="text: name"></span>
              <small class="pull-right">
                <a href="#" data-bind="css: { invisible: $index() === 0 }, click: $root.facetsReorder.moveUp"><i class="icon-caret-up"></i> Up</a>
                <a href="#" style="margin-left:10px;" data-bind="css: { invisible: $index() === $root.facetEditor.facets().length - 1 }, click: $root.facetsReorder.moveDown"><i class="icon-caret-down"></i> Down</a>
              </small>
            </div>
          </div>
          <div style="margin-top:20px;">
            <div>
              <button class="btn btn-primary" data-bind="click: facetsReorder.save">Save</button>
              <button class="btn btn-small btn-link" data-bind="click: facetEditor.showIndex">Cancel</button>
            </div>
          </div>
        </div>
      <!-- /ko -->       
      
    </div>
  </div>
</div>
