<div class="di-modal-container facets-reorder-modal" data-bind="with: facetsReorder">
<div class="modal">
<div class="modal-body">

  <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: hide"></i>
  <h4 class="metadata-modal-heading">Reorder facets</h4>

  <div class="clearfix">
    <ul class="unstyled" data-bind="foreach: facets">
      <li data-bind="text: name, click: $parent.selectFacet, css: { 'selected-facet': $data === $parent.selectedFacet() }"></li>
    </ul>
    
    <button type="button" class="btn btn-small" style="margin-bottom:10px;" data-bind="enable: shouldEnableButton('up'), click: moveUp"><i class="icon-arrow-up"></i></button>
    <button type="button" class="btn btn-small" data-bind="enable: shouldEnableButton('down'), click: moveDown"><i class="icon-arrow-down"></i></button>
  </div>
  
  <div>
    <button class="btn btn-small btn-primary" id="save-button" data-bind="click: save">Save changes</button>
    <button class="btn btn-small" data-bind="click: hide">Cancel</button>
  </div>
  
</div>  
</div>
</div>
