<div class="di-modal-container profile-modal">
<div class="modal">
<div class="modal-body">

    <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: profileEditor.close"></i>
    
    <h4>Profile</h4>
    
    <form action="/sessions/create" method="post" style="margin:0;">
      <div class="alert alert-error" data-bind="visible: user.isError">
        <button type="button" class="close" 
        data-bind="click: function () { user.isError(false); }">×</button>
        Invalid email or password.
      </div>
      <small>Title</small>
      <input class="input-block-level" id="profile-title-input" type="text">
      <small>Image URL</small>
      <input class="input-block-level" id="profile-image-url-input" type="text">
      <div style="margin-top:10px;">
        <button type="submit" class="btn btn-primary" data-bind="click: profileEditor.save">Save</button>
      </div>
    </form>
    
</div>
</div>
</div>
