<img id="loading-gif" src="/assets/ajax-loader.gif">
<div class="di-modal-container metadata-modal" data-bind="if: resourceEditor.resource">
<div class="modal" data-bind="with: resourceEditor">

  <div class="modal-header">
    <i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: close"></i>
    <h5 class="metadata-modal-heading" data-bind="text: resource().title"></h5>
  </div>

  <div class="modal-body">
    <!-- ko foreach: resource().facets -->
    <div style="margin-bottom:5px;overflow:auto;">

      <small class="metadata-modal-label" data-bind="text: name + ':'"></small>
      
      <!-- ko foreach: values -->
        <a href="#" class="metadata-editor-value" tabindex="-1" data-bind="text: $data.name + ' ×', click: function () { $root.resourceEditor.removeValue($data, $parent); }, css: { 'value-removed': $data['isRemoved'], 'value-added': $data['isAdded'] }"></a>
      <!-- /ko -->
      
      <input type="text" class="input-medium" spellcheck="false" autocomplete="off" data-bind="attr: { placeholder: name}">
    </div>
    <!-- /ko -->

    <div style="margin-top:15px">
      <button class="btn btn-primary" id="save-button" data-bind="click: save">Save changes</button>
      <button class="btn btn-small btn-link" id="resource-editor-cancel-button" data-bind="click: close">Cancel</button>
    </div>
  </div>    
</div>
</div>
