<div class="di-modal-container add-resource-modal">
  <div class="di-modal">
    <div class="modal-body">
      <div class="waiting"></div>
      <i class="metadata-modal-close icon-remove icon-large pull-right" 
      data-bind="click: addForm.hide"></i>
      <h4 class="metadata-modal-heading">Add a video</h4>
      <input type="text" class="input-block-level" placeholder="http://..."
      data-bind="value: addForm.inputUrl">
      <button class="btn btn-primary" data-bind="click: addForm.addResource">Add</button>
    </div>
  </div>
</div>
