<div>
  <!-- ko ifnot: selectedFacet() -->
    <div data-bind="foreach: facets">
      <div class="element-label" data-bind="click: function () { $parent.selectedFacet($data); }">
        <span data-bind="text: name"></span>
        <small class="muted" data-bind="text: '(' + valueCount + ')'"></small>
      </div>
    </div>
  <!-- /ko -->

  <!-- ko if: selectedFacet() -->
    <div style="padding:0 2px;">
      <small id="back" data-bind="click: function () { selectedFacet(null); }">
        <a href="#">&laquo; Back</a>
      </small>
      <div class="pull-right dropdown">
        <small id="sort" data-toggle="dropdown">
          <a href="#">Sort <i class="icon-caret-down"></i></a>
        </small>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" style="right:-10px;">
          <li data-sort="count" 
          data-bind="click: function () { sort('count'); }, css: { 'sort-active': sortCriteria() === 'count' }">
            <a href="#">Count</a>
          </li>
          <li data-sort="name" 
          data-bind="click: function () { sort('name'); }, css: { 'sort-active': sortCriteria() === 'name' }">
            <a href="#">Name</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="facet-label-small">
      <small class="muted" data-bind="text: selectedFacet().name"></small>
    </div>

    <ul class="unstyled" data-bind="foreach: selectedFacet().values.slice(0, listLength())">
      <li class="element-value element-value-disabled">
        <small class="element-value-count muted pull-right" data-bind="text: count"></small>
        <small class="element-value-name" data-bind="text: name"></small>
      </li>
    </ul>
    <!-- ko if: selectedFacet().valueCount > listLength() -->
      <div style="padding:0 2px;">
        <small id="show-all" data-bind="click: showAll">Show all</small>
      </div>
    <!-- /ko -->
  <!-- /ko -->
</div>










