<div>
  <input class="input-block-level" type="text" id="search" autocomplete="off" placeholder="Search channel" data-bind="visible: facetMenu.facets() && facetMenu.facets().length > 0">

  <!-- ko ifnot: facetMenu.hasFacets -->
  <div style="margin-top:10px;">
    <small><a href="#" data-bind="click: facetMenu.newFacet">New facet</a></small>
  </div>
  <!-- /ko -->

  <!-- ko ifnot: facetMenu.selectedFacet() || (facetMenu.facets() && facetMenu.facets().length === 0) -->
    <!-- ko if: breadcrumbs.values().length -->
      <ul class="breadcrumbs unstyled" data-bind="foreach: breadcrumbs.values">
        <li class="facet-menu-item">
          <a data-bind="attr: { href: hash }">
            <small class="element-value-remove"><i class="icon-remove"></i></small>
            <small class="facet-menu-item-name" data-bind="text: $data.displayName"></small>
          </a>
        </li>
      </ul>
    <!-- /ko -->
    
    <div class="facet-menu-header">
      <small style="display:block;">
        <strong>Facets</strong>
        <% if @is_owner %>
          <span style="margin-left:5px;"><a href="#" data-bind="click: facetEditor.show">Edit</a></span>
        <% end %>
      </small>
    </div>
  
    <ol class="unstyled" data-bind="foreach: facetMenu.facets">
      <li class="facet-menu-item" data-bind="click: function () { $root.facetMenu.selectedFacet($data); }">
        <a href="#">
          <small class="facet-menu-item-name">
            <!-- ko text: name --><!-- /ko -->
            <span class="muted" data-bind="text: '(' + valueCount + ')'"></span>
          </small>
        </a>
      </li>
    </ol>
  <!-- /ko -->

  <!-- ko if: facetMenu.selectedFacet -->
    <div class="facet-menu-header">
      <small style="display:block;">
        <a class="facet-menu-label" href="#" id="back" data-bind="click: function () { facetMenu.selectedFacet(null); }">
          <i class="icon-double-angle-left" style="margin-right:3px;"></i>Back
        </a>
        
        <!-- <strong class="facet-menu-label" style="color:#555;" data-bind="text: '/ ' + facetMenu.selectedFacet().name"></strong> -->
        
        <div class="pull-right dropdown">
          <span data-toggle="dropdown">
            <a href="#">
              Sort<i class="icon-caret-down" style="margin-left:3px;"></i>
            </a>
          </span>
          <ol class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" style="right:-2px;font-size:14px;">
            <li data-sort="Count" 
            data-bind="click: function () { facetMenu.sort('Count'); }, css: { 'sort-active': facetMenu.sortCriteria() === 'Count' }">
              <a href="#">Count</a>
            </li>
            <li data-sort="Name" 
            data-bind="click: function () { facetMenu.sort('Name'); }, css: { 'sort-active': facetMenu.sortCriteria() === 'Name' }">
              <a href="#">Name</a>
            </li>
          </ol>
        </div>
      </small>
    </div>

    <ol class="unstyled" data-bind="foreach: facetMenu.selectedFacet() && facetMenu.selectedFacet().values.slice(0, facetMenu.listLength())">
      <!-- ko if: count -->
        <!-- ko ifnot: isSelected -->
          <li class="facet-menu-item">
            <a data-bind="attr: { href: $data.hash }">
              <small class="element-value-count muted pull-right" data-bind="text: count"></small>
              <small class="facet-menu-item-name" data-bind="text: name"></small>
            </a>
          </li>
        <!-- /ko -->
        <!-- ko if: isSelected -->
          <li class="facet-menu-item">
            <a data-bind="attr: { href: hash }">
              <small class="element-value-remove"><i class="icon-remove"></i></small>
              <small class="facet-menu-item-name" data-bind="text: name"></small>
            </a>
          </li>
        <!-- /ko -->
      <!-- /ko -->
    </ol>

    <!-- ko if: facetMenu.selectedFacet() && facetMenu.selectedFacet().valueCount > facetMenu.listLength() -->
      <div style="padding:0 2px;line-height:1.4;">
        <small class="btn-link-muted" id="show-all" data-bind="click: facetMenu.showAll">Show all</small>
      </div>
    <!-- /ko -->
  <!-- /ko -->
</div>










