<div class="navbar">
  <div class="container">
  
    <!--<a href="/" class="logo"></a>-->
  
    <div class="container-inner">
   
      <div class="nav pull-right">
        <!-- ko ifnot: user.user -->
          <small><a href="#" style="line-height:40px;" data-bind="click: user.showSignIn">Log in</a></small>
        <!-- /ko -->
        
        <!-- ko if: user.user -->
          <span class="dropdown" style="line-height:40px;">
            <span data-toggle="dropdown">
              <a href="#">
                <i class="icon-cog"></i>
                <i class="icon-caret-down"></i>
              </a>
            </span>
            <ul class="dropdown-menu pull-right">
              <li><a href="/settings">Settings</a></li>
              <li><a href="/sessions/destroy">Log out</a></li>
            </ul>
          </span>
        <!--
          <span class="dropdown">
            <small id="name" data-toggle="dropdown">
              <a href="#">
                <span data-bind="text: user.user().username"></span>
                <i class="icon-caret-down"></i>
              </a>
            </small>
            <ul class="dropdown-menu pull-right">
              <li><a href="/settings">Settings</a></li>
              <li><a href="/sessions/destroy">Log out</a></li>
            </ul>
          </span>
          -->
        <!-- /ko -->        
      </div>
      
      <!-- ko if: user.user -->
        <div class="pull-right">
          <!--<small><a href="/settings">Settings</a></small>
          <small style="margin-left:5px;"><a href="/sessions/destroy" style="line-height:40px;">Log out</a></small>-->
        </div>
      <!-- /ko -->
    
    </div>
  </div>
</div>
