<!-- ko if: results.count() > 0 -->


<!--
  <div class="pull-right">    
    <small>
      <a href="#" class="previous-page" style="margin-left:5px;">&laquo; Previous</a>
      <span class="previous-page-disabled muted" style="margin-left:5px;">&laquo; Previous</span>
      <a href="#" class="next-page" style="margin-left:5px;">Next &raquo;</a>
      <span class="next-page-disabled muted" style="margin-left:5px;">Next &raquo;</span>
    </small>
  </div>
-->


  <div class="pagination pagination-centered">
    <ul>
      <!-- ko if: pagination.currentPage() > 1 -->
        <li><a href="#" data-bind="attr: {href: $root.pagination.urlForPage($root.pagination.currentPage() - 1)}">&laquo;</a></li>
      <!-- /ko -->
      <!-- ko if: pagination.pages().length > 1 -->
      <!-- ko foreach: pagination.pages -->
        <li data-bind="css: {active: $data === $root.pagination.currentPage()}">
          <a href="#" data-bind="text: $data, attr: {href: $root.pagination.urlForPage($data)}"></a>
        </li>
      <!-- /ko -->
      <!-- /ko -->
      <!-- ko if: pagination.currentPage() < pagination.totalPages() -->
        <li><a href="#" data-bind="attr: {href: $root.pagination.urlForPage($root.pagination.currentPage() + 1)}">&raquo;</a></li>
      <!-- /ko -->
    </ul>
  </div>
<!-- /ko -->
