<div class="navbar">
<div class="container">
  <a href="/" class="logo"></a>
  
  <div class="container-narrow">

    <div class="nav pull-right" data-bind="if: !user.user()">
      <small><a href="#" style="line-height:40px;" data-bind="click: user.showSignIn">Sign in</a></small>
    </div>

    <div class="nav pull-right" data-bind="if: user.user">      
      <small id="name" data-toggle="dropdown">
        <span data-bind="text: user.user().username"></span>
        <i class="icon-caret-down"></i>
      </small>
      <ul class="dropdown-menu pull-right" style="margin-top:-8px;">
        <li><a data-bind="attr: { href: '/' + user.user().username }">Collections</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/sessions/destroy">Sign out</a></li>
      </ul>
    </div>

  </div>

</div>
</div>


<div class="container">
  <div style="margin-left:160px;padding:0 10px;width:490px;">
    <small><a href="./">&laquo; Back to collection</a></small>
  </div>
  
  <div class="sidebar" data-bind="with: sidebar">
    <img width="150" height="150" data-bind="attr: { src: '/assets/' + di.collectionData.name + '.jpg' }">
    <div style="margin:10px 0;">
      <h4 style="margin:0;"><%= @collection_data[:name] %></h4>
    </div>
  </div>

  <div class="main-content clearfix" style="padding:10px;">
    
    <h3>Edit collection</h3>
    
    <h5 id="profile" style="margin-top:20px;">Profile</h5>
        
    <div style="margin-bottom:20px;">
      <small class="settings-label" style="float:left;">Image</small>
      <input type="file" name="file" id="file-input">
      <div class="column-right">
        
        <div class="choose-button-container">
          <button type="button" class="btn btn-small" id="choose-button" style="margin-bottom:5px;">Choose image</button>
          <span id="filename">No image selected</span>
        </div>
        <div class="format-error"><small class="text-error">The image must be a JPG, PNG or GIF file.</small></div>
        <div class="size-error"><small class="text-error">The image must be less than 2 MB.</small></div>
        <div style="margin-top:5px;">
          <button type="button" class="btn btn-primary btn-small" id="upload-button">Upload</button>
          <img id="loading" src="/assets/ajax-loader.gif">
        </div>
        <div style="margin-top:5px;"><small class="muted">Maximum file size: 2MB</small></div>
        <div><small class="muted">For best results, choose a square image.</small></div>
      </div>
    </div>

    <form class="form-inline">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <small class="settings-label" style="float:left;">Heading</small>
      <div class="column-right">
        <p><input type="text"></p>
        <button class="btn btn-small btn-primary">Save heading</button>
      </div>
    </form>
    
    <hr>
<!--
    <h5>Facets</h5>
    
    <table>
      <tbody data-bind="foreach: di.facets">
        <tr>
          <td><span data-bind="text: $data"></span></td>
          <td><small><a href="#">Delete</a></small></td>
        </tr>
      </tbody>
    </table>
 
    <hr>
-->   
    <h5 style="margin-top:20px;">Add facet</h5>
    
    <form class="form-inline" data-bind="submit: collectionEditor.addFacet">
      <small class="settings-label" style="float:left;">Name</small>
      <div class="column-right">
        <p><input type="text" data-bind="value: collectionEditor.facetToAdd"></p>
        <button type="submit" class="btn btn-small btn-primary">Add facet</button>
      </div>   
    </form>
    
    
    
    <hr>
    
    <h5 style="margin-top:20px;">Rename facet</h5>
    
    <form class="form-inline" data-bind="submit: collectionEditor.renameFacet">
      <p>
        <small class="settings-label" style="float:left;">Current name</small>
        <div class="column-right">
          <select data-bind="options: di.facets, value: collectionEditor.facetToRename"></select>
        </div>
      </p>
      
      <small class="settings-label" style="float:left;">New name</small>
      <div class="column-right">
        <p><input type="text" data-bind="value: collectionEditor.facetNewName"></p>
        <button type="submit" class="btn btn-small btn-primary">Rename facet</button>
      </div>
    </form>
    
    <hr>
    
    <h5 style="margin-top:20px;">Delete facet</h5>
    
    <form class="form-inline" data-bind="submit: collectionEditor.deleteFacet">
      <small class="settings-label" style="float:left;">Name</small>
      <div class="column-right">
        <p><select data-bind="options: di.facets, value: collectionEditor.facetToDelete"></select></p>
        <small><a href="#">Delete facet</a></small>
        <button type="submit" class="btn btn-small btn-primary">Delete facet</button>
      </div>
    </form>
    
    <hr>
    
    <h5 style="margin-top:20px;">Rename facet value</h5>
    
    <form class="form-inline" data-bind="submit: collectionEditor.renameFacetValue">
      <p>
        <small class="settings-label" style="float:left;">Current name</small>
        <div class="column-right">
          <input id="facet-value-remove" type="text" data-bind="value: collectionEditor.facetValueToRename().name">
          <!-- ko if: collectionEditor.facetValueToRename().name !== collectionEditor.facetValueToRename().displayName -->
            <span class="muted" data-bind="text: '(' + collectionEditor.facetValueToRename().facet + ')'"></span>
          <!-- /ko -->
        </div>
      </p>
      <small class="settings-label" style="float:left;">New name</small>
      <div class="column-right">
        <p><input type="text" data-bind="value: collectionEditor.facetValueNewName"></p>
        <button class="btn btn-small btn-primary">Rename value</button>
      </div>
    </form>
    
    <hr>
    
    <h5 style="margin-top:20px;">Delete facet value</h5>
    
    <form class="form-inline">
      <small class="settings-label" style="float:left;">Name</small>
      <div class="column-right">
        <p>
          <input id="facet-value-delete" type="text" data-bind="text: collectionEditor.facetValueToDelete().name">
          <!-- ko if: collectionEditor.facetValueToDelete().name !== collectionEditor.facetValueToDelete().displayName -->
            <span class="muted" data-bind="text: '(' + collectionEditor.facetValueToDelete().facet + ')'"></span>
          <!-- /ko -->
        </p>
        <small><a href="#">Delete value</a></small>
      </div>
    </form>
    
    
  </div>
</div>

<div class="di-modal-backdrop"></div>
<%= render "modals" %>
<%= render "add_form" %>
<%= render "delete_confirmation" %>
<%= render "sign_in" %>
<%= render "facet_editor" %>

<script>
  di.collectionData = <%= raw @collection_data.to_json %>;
  di.userData = <%= raw @user_data.to_json %>;
  di.facets = <%= raw @facets %>;
    ko.applyBindings(di);
    _.each(['mediator', 'sidebar', 'user'], function (module) { di[module].init(); });
    //di.uploader.init();
</script>









