<%= render partial: "header", locals: {disable_search: true} %>

<div class="container">
  
  <div class="sidebar" data-bind="with: sidebar">
    <img id="collection-image" width="150" height="150" src="<%= @collection.image_url %>">
    <%= render "edit_videos_sidebar" %>
  </div>

  <div class="content clearfix">
  <div style="float:left;width:100%;">
    
    <h3 id="collection-title" style="line-height:25px;"><%= @collection.title %></h3>
    <div style="margin-bottom:10px;">
      <small><a href="<%= url_for action: 'show' %>">Show collection</a></small>
    </div>
    
    <h5><i class="<%= @profile_updated? 'icon-caret-down' : 'icon-caret-right' %>"></i> <a href="#">Profile</a></h5>
    
    <form class="form-horizontal" data-bind="submit: collectionEditor.saveProfile">
      <div class="control-group">
        <label class="control-label" for="title-input"><small>Title</small></label>
        <div class="controls">
          <input type="text" class="input-block-level" id="title-input" data-bind="value: collectionEditor.title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="image-url-input"><small>Image URL</small></label>
        <div class="controls">
          <input type="text" class="input-block-level" id="image-url-input" data-bind="value: collectionEditor.imageUrl">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-small btn-primary" id="profile-save-button">Save</button>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#">Add facet</a> (transferred)</h5>
    
    <form class="form-horizontal" data-bind="submit: collectionEditor.addFacet">
      <div class="control-group">
        <label class="control-label" for="facet-to-add"><small>Name</small></label>
        <div class="controls">
          <input type="text" class="input-medium" id="facet-to-add" data-bind="value: collectionEditor.facetToAdd">
          <br><small class="text-error" id="add-facet-error">A facet with that name already exists.</small>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-small btn-primary">Add facet</button>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#">Rename facet</a> (transferred)</h5>
    
    <form class="form-horizontal" data-bind="submit: collectionEditor.renameFacet">
      <div class="control-group">
        <label class="control-label" for="facet-to-rename"><small>Current name</small></label>
        <div class="controls">
          <select class="select-medium" id="facet-to-rename" data-bind="options: _.pluck(sidebar.facets(), 'name'), value: collectionEditor.facetToRename"></select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="facet-new-name"><small>New name</small></label>
        <div class="controls">
          <input type="text" class="input-medium" id="facet-new-name" data-bind="value: collectionEditor.facetNewName">
          <br><small class="text-error" id="rename-facet-error">A facet with that name already exists.</small>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-small btn-primary">Rename facet</button>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#">Delete facet</a> (transferred)</h5>
    
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="facet-delete"><small>Name</small></label>
        <div class="controls">
          <select class="select-medium" id="facet-delete" data-bind="options: _.pluck(sidebar.facets(), 'name'), value: collectionEditor.facetToDelete"></select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <a href="#" data-bind="click: collectionEditor.deleteFacet"><small>Delete facet</small></a>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#" id="reorder-facets-heading">Reorder facets</a> (transferred)</h5>
    
    <form class="form-horizontal" id="facets-reorder-form" data-bind="with: facetsReorder">
      <div class="control-group">
        <div class="controls">
          <ul class="unstyled" id="facets-reorder-list" data-bind="foreach: facets">
            <li data-bind="text: name, click: $parent.selectFacet, css: { 'selected-facet': $data === $parent.selectedFacet() }"></li>
          </ul>
          <div class="pull-left" id="facets-reorder-move-buttons">
            <button type="button" class="btn btn-mini" style="margin-bottom:10px;" data-bind="enable: shouldEnableButton('up'), click: moveUp"><i class="icon-caret-up"></i></button>
            <br>
            <button type="button" class="btn btn-mini" data-bind="enable: shouldEnableButton('down'), click: moveDown"><i class="icon-caret-down"></i></button>
          </div>       
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-primary" id="save-button" data-bind="click: save">Save</button>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#">Rename facet value</a></h5>
    
    <form class="form-horizontal" data-bind="submit: collectionEditor.renameValue">
      <div class="control-group">
        <label class="control-label" for="facet-value-rename"><small>Current name</small></label>
        <div class="controls">
          <div class="input-container" data-bind="visible: !collectionEditor.facetValueToRename()">
            <input class="input-medium" type="text" id="facet-value-rename" autocomplete="off" placeholder="Search">
          </div>
          <!-- ko if: collectionEditor.facetValueToRename -->
            <div style="padding-top:5px;">
              <span data-bind="text: collectionEditor.facetValueToRename().name"></span>
              <span class="muted" data-bind="text: '(' + collectionEditor.facetValueToRename().facetName + ')'"></span>
              <i class="icon-remove muted" data-bind="click: function () { collectionEditor.facetValueToRename(null) }"></i>
            </div>
          <!-- /ko -->
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="facet-value-new-name"><small>New name</small></label>
        <div class="controls">
          <input type="text" class="input-medium" id="facet-value-new-name" data-bind="value: collectionEditor.facetValueNewName">
          <!-- ko if: collectionEditor.facetValueToRename -->
            <span class="muted" data-bind="text: '(' + collectionEditor.facetValueToRename().facetName + ')'"></span>
          <!-- /ko -->
          <br><small class="text-error" id="rename-value-error">A value with that name already exists.</small>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-small btn-primary">Rename value</button>
        </div>
      </div>
    </form>
    
    <h5><i class="icon-caret-right"></i> <a href="#">Delete facet value</a></h5>
    
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="facet-value-delete"><small>Name</small></label>
        <div class="controls">
          <div class="input-container" data-bind="visible: !collectionEditor.facetValueToDelete()">
            <input class="input-medium" type="text" id="facet-value-delete" autocomplete="off" placeholder="Search">
          </div>
          <!-- ko if: collectionEditor.facetValueToDelete -->
            <div style="padding-top:5px;">
              <span data-bind="text: collectionEditor.facetValueToDelete().name"></span>
              <span class="muted" data-bind="text: '(' + collectionEditor.facetValueToDelete().facetName + ')'"></span>
              <i class="icon-remove muted" data-bind="click: function () { collectionEditor.facetValueToDelete(null) }"></i>
            </div>
          <!-- /ko -->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <a href="#" data-bind="click: collectionEditor.deleteValue"><small>Delete value</small></a>
        </div>
      </div>
    </form>
    
  </div>
  </div>
</div>

<%= render "delete_confirmation" %>

<script>
  di.userData = <%= raw @user_data.to_json %>;
  di.collectionData = <%= raw @collection_data.to_json %>;
  di.facets = <%= raw @facets %>;
  ko.applyBindings(di);
  di.user.init();
  di.sidebar.init();
  di.collection.init(function (facets) {
    di.sidebar.facets(facets);
    di.collectionEditor.init(facets);
    di.facetsReorder.init();
  });
</script>









