<div class="navbar">
  <div class="container">
    <a href="/" class="logo"></a>
    
    <div class="container-narrow">
      <div class="navbar-form pull-left" style="margin-left:5px;">
        <!--<input type="text" class="input-medium" id="search" autocomplete="off">-->
        <div class="input-container">
          <i class="icon-search muted"></i>
          <input class="input-small" type="text" id="search" autocomplete="off">
        </div>
      </div>
    </div>

    <div class="nav pull-right" data-bind="if: !user.user()">
      <small><a href="#" style="line-height:40px;" data-bind="click: user.showSignIn">Sign in</a></small>
    </div>

    <div class="nav pull-right" data-bind="if: user.user" style="margin-right:5px;">
      <% if @is_owner %>
      <!-- ko if: user.user -->
        <button class="btn btn-small btn-primary" style="margin:0 10px;" title="Add link" data-bind="click: $root.addForm.show">
          <i class="icon-plus"></i>
        </button>
      <!-- /ko -->
      <% end %>
      
      <small id="name" data-toggle="dropdown">
        <span data-bind="text: user.user().username"></span>
        <i class="icon-caret-down"></i>
      </small>
      <ul class="dropdown-menu pull-right" style="margin-top:-8px;">
        <li><a data-bind="attr: { href: '/' + user.user().username }">Your page</a></li>
        <li><a href="/settings">Settings</a></li>
        <li><a href="/sessions/destroy">Sign out</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="container">

  <div style="margin-left:160px;padding:0 10px;width:490px;">
    <small class="muted"  data-bind="text: results.prettyCount"></small>
  </div>

  <div class="sidebar" data-bind="with: sidebar">
    <img width="150" height="150" src="/assets/<%= @collection_data[:name] %>.jpg">
    <!--<img id="profile-image" width="150" height="150" src="http://s3.amazonaws.com/di-images/pivan">-->
    <div style="margin:10px 0;">
      <h4 style="margin:0;"><%= @collection_data[:name] %></h4>
      
      <% if @is_owner %>
        <!--<div><small><a href="#" data-bind="click: $root.facetEditor.show">Edit collection</a></small></div>-->
        <div><small><a href="<%= url_for action: 'edit' %>">Edit collection</a></small></div>
      <% else %>
        <div><small>by <a href="/<%= @collection_data[:owner] %>"><%= @collection_data[:owner] %></a></small></div>
      <% end %>
      
      <div>
        <img width="16" height="16" class="favicon" src="http://www.google.com/s2/u/0/favicons?domain=www.youtube.com">
        <small><a href="http://www.youtube.com/user/HuskyStarcraft" target="_blank">YouTube</a></small>
      </div>
    </div>
    <%= render "facet_menu" %>
  </div>

  <div class="main-content clearfix">
    <div id="waiting"></div>
    
    <!-- ko foreach: results.resources -->
      <div class="result" data-bind="click: $root.results.selectResource, css: { 'selected-resource': $data === $root.results.selectedResource() }">
        <div class="result-inner clearfix">

          <div class="resource-title">
            <a data-bind="attr: { href: url }, text: title" target="_blank"></a>
          </div>
          
          <div>
            <img width="16" height="16" class="favicon" data-bind="attr: { src: $root.results.getFaviconUrl(url) }">
            <small data-bind="text: url.match(/:\/\/(.[^/]+)/)[1]"></small>
          </div>
          
          <div class="resource-facets" data-bind="foreach: facets">
            <div data-bind="if: values.length">
              <strong><small class="muted" data-bind="text: name + ':'"></small></strong>
              <small class="muted" data-bind="text: $root.results.getCommaSeparatedValues(values)"></small>
            </div>
          </div>
          
          <div class="resource-actions">
            <!-- ko ifnot: $data === $root.results.selectedResource() -->
              <a href="#" class="watch-action">Watch</a>
            <!-- /ko -->
            <!-- ko if: $data === $root.results.selectedResource() -->
              <a href="#" class="watch-action">Collapse</a>
            <!-- /ko -->
            <% if @is_owner %>
              <a href="#" class="edit-action" data-bind="click: $root.results.editResource">Edit</a>
              <a href="#" class="delete-resource" data-bind="click: $root.deleteConfirmation.show">Delete</a>
            <% end %>
          </div>
          
          <!-- ko if: $data === $root.results.selectedResource() -->
            <!-- ko if: player -->
              <iframe class="resource-player" width="478" height="269" frameborder="0" data-bind="attr: { src: player + '?wmode=opaque' }" ></iframe>
            <!-- /ko -->
          
            <!-- ko if: !player && image -->
              <div class="resource-image" data-bind="attr: { style: 'background-image: url(' + image + ')' }"></div>
            <!-- /ko -->
          
            <!-- ko if: !player && description -->
              <div class="resource-description" data-bind="text: description"></div>
            <!-- /ko -->
          <!-- /ko -->
          
        </div>
      </div>
    <!-- /ko -->
    
    <!-- ko if: results.resources().length && pagination.pagesTotal() !== 1 -->
      <div class="form-inline" id="pagination">
        <a id="prev-page" href="#">Previous</a>
        <input class="input-small" id="page-input" type="text">
        <span class="muted" data-bind="text: 'of ' + pagination.pagesTotal()"></span>
        <a id="next-page" href="#/2">Next</a>
      </div>
    <!-- /ko -->
    
  </div>
  
  <img class="pull-right" src="http://placehold.it/160x600">
  
</div>

<div class="di-modal-backdrop"></div>
<%= render "sign_in" %>

<% if @is_owner %>
  <%= render "modals" %>
  <%= render "add_form" %>
  <%= render "facet_editor" %>
  <%= render "delete_confirmation" %>
<% end %>

<script>
  di.collectionData = <%= raw @collection_data.to_json %>;
  di.userData = <%= raw @user_data.to_json %>;
  ko.applyBindings(di);
  _.each(['mediator', 'addForm', 'deleteConfirmation', 'results', 'sidebar', 'resourceEditor', 'pagination', 'user'
    <% if @is_owner %>, 'valuesEditor'<% end %>], function (module) { di[module].init(); });
</script>









