<%= render partial: "shared/header" %>

<div class="container" style="padding-top:20px;">  
  <div class="sidebar">
    <div class="pull-right" style="height:30px;line-height:30px;">       
    </div>
    
    <a href="http://www.youtube.com/channel/<%= @collection.channel_id %>" target="_blank">
      <img id="thumbnail" src="<%= @collection.thumbnail %>" width="48">
    </a>
    <a href="http://www.youtube.com/channel/<%= @collection.channel_id %>" id="title" target="_blank"><%= @collection.title %></a>
    <div id="subscribe">
      <script src="https://apis.google.com/js/plusone.js"></script>
      <div class="g-ytsubscribe" data-channelid="<%= @collection.channel_id %>" data-layout="default"></div>
    </div>
    <%= render "facet_menu" %>
  </div>

  <div class="content clearfix">
  <div style="float:left;width:100%;">
    <!-- ko if: results.count() === 0 -->
      <small style="display:block;line-height:normal;">No results found</small>
    <!-- /ko -->
    
    <!-- ko if: results.count() > 0 -->
    
    <div class="status-bar clearfix">
      <small class="muted pull-left" data-bind="text: 'Page ' + pagination.currentPage() + ' of ' + results.count() + ' results'"></small>
      <% if @is_owner %>
        <!-- ko if: facetMenu.hasFacets-->
          <small style="float:right;" data-bind="if: results.resources().length">
            <a href="#" data-bind="click: batchEditor.show">Edit all</a>
          </small>
        <!-- /ko -->
      <% end %>
    </div>    
    
    <ol class="result-list">
      <div id="waiting"></div>
      
      <!-- ko foreach: results.resources -->
        <li class="result" data-bind="click: $root.results.selectResult, css: { 'selected-resource': $data === $root.results.selectedResult() }">
          <div class="result-inner clearfix">

            <div class="resource-title"><a data-bind="attr: { href: url }, text: title" target="_blank"></a></div>
            <div class="resource-facets" data-bind="foreach: facets">
              <div data-bind="if: values.length">
                <strong><small data-bind="text: name + ':'"></small></strong>
                <small class="muted" data-bind="text: $root.results.getValueList(values)"></small>
              </div>
            </div>
           
            <div class="resource-actions">
              <!-- ko ifnot: $data === $root.results.selectedResult() -->
                <a href="#" class="watch-action">Watch</a>
              <!-- /ko -->
              <!-- ko if: $data === $root.results.selectedResult() -->
                <a href="#" class="watch-action">Collapse</a>
              <!-- /ko -->
              <% if @is_owner %>
                <!-- ko if: $root.facetMenu.hasFacets-->
                  <a href="#" class="edit-action" data-bind="click: $root.results.editResource">Edit</a>
                <!-- /ko -->
              <% end %>
            </div>
            
            <!-- ko if: $data === $root.results.selectedResult() -->
              <div class="player-container">
                <iframe class="player" frameborder="0" allowfullscreen data-bind="attr: { src: playerUrl }"></iframe>
              </div>
            <!-- /ko -->
            
          </div>
        </li>
      <!-- /ko -->
    </ol>
    
    <!-- /ko -->
    
    <div class="status-bar">
      <%= render partial: "pagination" %>
    </div>
    
  </div>
  </div>
  
</div>

<% if @is_owner %>
  <%= render "collections/modals/values_editor_modal" %>
  <%= render "collections/modals/facet_editor_modal" %>
  <%= render "collections/modals/delete_confirmation" %>
  <%= render "collections/modals/profile_modal" %>
  <%= render "collections/modals/batch_editor_modal" %>
  <%= render "collections/modals/empty_confirmation" %>
<% else %>
  <%= render "shared/sign_in_modal" %>
<% end %>

<% content_for :javascript do %>
  <script>
    di.collectionData = <%= raw @collection_data.to_json %>;
    <% if @user_data %>
      di.userData = <%= raw @user_data.to_json %>;
    <% end %>
    <% if @is_owner %>
      ko.applyBindings(di.collections.edit().init());
    <% else %>
      ko.applyBindings(di.collections.show().init());
    <% end %>
  </script>
<% end %>
