<%= render partial: "shared/header", locals: {hide_login: true} %>

<div class="container">
<div class="content">

  <form action="/sessions/create" method="post">
    <h3 id="content-heading" style="margin-bottom:10px;">Log in</h3>
    
    <div class="alert alert-error" data-bind="visible: user.isError">
      <button type="button" class="close" 
      data-bind="click: function () { user.isError(false); }">×</button>
      Invalid email or password.
    </div>
    
    <label for="email">Email</label>
    <div>
      <input class="input-xlarge" type="text" name="email" id="email">
    </div>
    
    <label for="password">Password</label>
    <div>
      <input class="input-xlarge" type="password" name="password" id="password">
    </div>
    
    <p><button type="submit" class="btn btn-primary">Log in</button></p>
    <%# <p><small>Don't have an account? <a href="/">Request an invite</a></small></p> %>
  </form>
  
</div>
</div>

<script>
  $(function () {
    ko.applyBindings(di);
    di.user.init();
  });
</script>
