<script type="text/html" id="youtube-collection-snippet-template">
  <div class="youtube-collection-snippet">
    <img class="youtube-collection-image" data-bind="attr: { src: image_url }">
    <div data-bind="html: resources_description"></div>
    <div data-bind="html: facets_description"></div>
  </div>
</script>
