<!--<img id="profile-image" width="150" height="150" data-bind="attr: { src: '/assets/' + user.user().username + '.jpg' }">-->
<!--<img id="profile-image" width="150" height="150" src="http://s3.amazonaws.com/di-images/pivan">-->
<!--<h4 style="margin:10px 0;" data-bind="text: user.user().username">HuskyStarcraft</h4>-->

<h5>Create a new collection</h5>
    
<form class="form-inline">
  <small class="settings-label" style="float:left;">Name</small>
  <div class="column-right"><input type="text"></div>
</form>
<button class="btn btn-small btn-primary">Create</button>

<h5 id="profile" style="margin-top:20px;">Profile</h5>

<div style="margin-bottom:20px;">
  <small class="settings-label" style="float:left;">Image</small>
  <input type="file" name="file" id="file-input">
  <div class="column-right">
    
    <div class="choose-button-container">
      <button type="button" class="btn" id="choose-button" style="margin-bottom:5px;">Choose image</button>
      <span id="filename">No image selected</span>
    </div>
    <div class="format-error"><small class="text-error">The image must be a JPG, PNG or GIF file.</small></div>
    <div class="size-error"><small class="text-error">The image must be less than 2 MB.</small></div>
    <div style="margin-top:5px;">
      <button type="button" class="btn btn-primary" id="upload-button">Upload</button>
      <img id="loading" src="assets/ajax-loader.gif">
    </div>
    <div style="margin-top:5px;"><small class="muted">Maximum file size: 2MB</small></div>
    <div><small class="muted">For best results, choose a square image.</small></div>
  </div>
</div>

<form class="form-inline">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <small class="settings-label" style="float:left;">Heading</small>
  <div class="column-right">
    <input type="text">
  </div>
</form>
