<div class="navbar">
  <div class="container">
  
    <a href="/" class="logo"></a>
  
    <div class="content clearfix">
  
      <!--
      <div class="pull-left" style="margin-top:5px;">
        <div class="input-container">
          <i class="icon-search muted"></i>
          <input class="input-small" type="text" id="search" autocomplete="off" <%= 'disabled' if defined? disable_search %>>
        </div>
      </div>
      -->
      
      <!-- ko if: user.user -->
        <div class="pull-right">
          <small><a href="/sessions/destroy" style="line-height:40px;">Log out</a></small>
        </div>
      <!-- /ko -->
   
      <% if false %>
      <div class="nav pull-right">
        <!-- ko ifnot: user.user -->
          <small><a href="#" style="line-height:40px;" data-bind="click: user.showSignIn">Log in</a></small>
        <!-- /ko -->
        <!-- ko if: user.user -->
          <small id="name" data-toggle="dropdown">
            <a href="#">
              <span data-bind="text: user.user().username"></span>
              <i class="icon-caret-down"></i>
            </a>
          </small>
          <ul class="dropdown-menu pull-right" style="margin-top:-8px;">
            <li><a data-bind="attr: { href: '/' + user.user().username }">Your page</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/sessions/destroy">Log out</a></li>
          </ul>
        <!-- /ko -->
      </div>
      <% end %>
      
    </div>
  </div>
</div>
