<%= render partial: "shared/header", locals: {narrow: true} %>

<div class="container">
  <div class="content">

    <h3><%= @owner[:username] %></h3>
    <h5 style="margin-bottom:20px;">Collections</h5>

    <% @collections.each do |collection| %>
      <% collection_url = url_for controller: 'collections', action: 'index', username: @owner[:username], collection: collection.slug %>
      <% facets_string = collection.facets.pluck('name').join(', ') %>
      <% count = 'Empty' %>
      <% count = pluralize(collection.resources.count, @humanized_type[collection.resources[0].type]) if collection.resources.any? %>
      <div class="clearfix" style="margin-bottom:20px;">
      
        <a href="<%= collection_url %>"><img class="collection-thumb pull-left" width="60" height="60" src="<%= collection.image_url %>" style="margin-right:10px;"></a>
        
        <div><strong><a href="<%= collection_url %>"><%= collection.title %></strong></a></div>
        
        <div><small class="muted"><%= count %></small></div>
        
        <% collection.facets.each do |facet| %>
          <small><%= facet.name %></small>
          <small class="muted"> (<%= facet.values.count %>)</small><%= ',' unless collection.facets.last == facet %>
        <% end %>
        
      </div>
    <% end %>
      
  </div>
</div>

<div class="di-modal-backdrop"></div>
<%= render "shared/sign_in_modal" %>

<script>
  <% if @user_data %>
    di.userData = <%= raw @user_data.to_json %>;
  <% end %>
  ko.applyBindings(di);
  di.user.init();
</script>



















