<%= render partial: "shared/header" %>

<div class="container">
<div class="content">

  <form class="form-inline form-signup" data-bind="submit: user.signUp">
    <h3>Sign up</h3>
    
    <p>
      <small>Email</small>
      <input type="text" class="input-block-level" id="email-input" data-bind="value: user.email">
      <small class="text-error" style="display:none;">Email is not valid.</small>
      <small class="text-error" style="display:none;">Email has already been taken.</small>
    </p>
    
    <p>
      <small>Password</small>
      <input type="password" class="input-block-level" id="password-input" data-bind="value: user.password">
      <small class="text-error" style="display:none;">Password must be 6 characters minimum.</small>
    </p>
    
    <p>
      <small>Username</small>
      <input type="text" class="input-block-level" id="username-input" data-bind="value: user.username">
      <small class="muted" data-bind="text: 'http://discoverible.com/' + user.username()" ></small>
      <br>
      <small class="text-error" style="display:none;">Username can't be blank.</small>
      <small class="text-error" style="display:none;">Username has already been taken.</small>
    </p>
    
    <div>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
  </form>

</div>
</div>

<div class="di-modal-backdrop"></div>
<%= render "collections/sign_in" %>

<script>
  $(function () {
    ko.applyBindings(di);
    di.user.init();
  });
</script>
