<%= render partial: "header" %>

<div class="container">

  <!--<img class="pull-right" src="http://placehold.it/160x600">-->

  <div class="sidebar" data-bind="with: sidebar">
    <img id="collection-image" width="150" height="150" src="<%= @owner[:image_url] %>">
  </div>

  <div class="content clearfix">
  <div style="float:left;width:100%;">
  
    <h3 style="line-height:25px;"><%= @owner[:username] %></h3>
    <div style="margin-bottom:10px;">
      <small><strong><%= @collections_data.length %></strong> Collections</small>
    </div>
    
    <!--
    <div style="margin-bottom:10px;">
      <% if @is_owner %>
        <small><a href="/settings">Settings</a></small>
      <% end %>
    </div>
    -->
    
    <div id="waiting"></div>
    <!--
    <div class="status-bar">
      <small><strong><%= @collections_data.length %></strong> Collections</small>
    </div>
    -->
    
    <ol class="result-list" data-bind="foreach: users.listItems">
      <li class="result" data-bind="click: $root.users.selectListItem, css: { 'selected-resource': $data === $root.users.selectedListItem() }">
        <div class="result-inner clearfix">

          <div class="resource-title"><a data-bind="attr: { href: url }, text: title"></a></div>
          
          <div class="resource-actions">
            <!-- ko ifnot: $data === $root.users.selectedListItem() -->
              <a href="#" class="watch-action">Expand</a>
            <!-- /ko -->
            <!-- ko if: $data === $root.users.selectedListItem() -->
              <a href="#" class="watch-action">Collapse</a>
            <!-- /ko -->
          </div>
          
          <!-- ko if: $data === $root.users.selectedListItem() -->
            <!-- ko template: { name: 'youtube-collection-snippet-template', data: $data } --><!-- /ko -->
          <!-- /ko -->
          
        </div>
      </li>
    </ol>
    
  </div>
  </div>
  
</div>

<%= render "collection_snippet_template" %>
<div class="di-modal-backdrop"></div>
<%= render "shared/sign_in_modal" %>

<script>
  di.collectionData = <%= raw @collections_data.to_json %>;
  <% if @user_data %>
    di.userData = <%= raw @user_data.to_json %>;
  <% end %>
  ko.applyBindings(di);
  di.users.init();
  di.user.init();
</script>










