<div style="border-bottom:1px solid #ddd;">
  <div class="container">
    <a href="/" class="logo"></a>
    <form class="navbar-form pull-left">
      <input type="text" class="input-xlarge" id="channel-search" placeholder="Search for YouTube channels">
    </form>
    <div class="pull-right" style="line-height:40px; padding:0 10px;">
      <% if @is_owner %>
        <small><a href="/sessions/destroy">Log out</a></small>
      <% end %>
    </div>
  </div>
</div>