<div class="di-modal-container signin-modal">
<div class="modal" style="width:300px;">
  <div class="modal-header">
    <button type="button" class="close" aria-hidden="true" data-bind="click: user.hideSignIn">×</button>
    <!--<i class="metadata-modal-close icon-remove icon-large pull-right" data-bind="click: user.hideSignIn"></i>-->
    <h4>Log in</h4>
  </div>

  <div class="modal-body">
    <form action="/sessions/create" method="post" style="margin:0;">
      <div class="alert alert-error" data-bind="visible: user.isError">
        <button type="button" class="close" 
        data-bind="click: function () { user.isError(false); }">×</button>
        Invalid email or password.
      </div>
      <small>Email</small>
      <input class="input-block-level" type="text" name="email">
      <small>Password</small>
      <input class="input-block-level" type="password" name="password">
      <button type="submit" class="btn btn-primary">Log in</button>
    </form> 
  </div>
</div>
</div>
