<div class="container">
  <div class="page-header clearfix">
    <form class="navbar-form pull-right">
      <input type="text" class="input-xlarge" id="channel-search" placeholder="Search for YouTube channels">
    </form>

    <span class="logo-home"></span>
  </div>
</div>

<div class="container">  
  <div style="text-align:center;margin:100px auto 50px;">
    <h1 style="margin:20px 0 25px;">The new best friend<br> of your YouTube channel.</h1>
    <button class="btn btn-large btn-primary" id="sign-in-button" data-bind="click: signIn">
      <em></em>
      Sign in with Google
    </button>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    ko.applyBindings(di.home.index().init());
  </script>
<% end %>