<div class="container">
<div style="width:300px;margin:0 auto;margin-bottom:100px;">
  <div class="pull-right" style="height:30px;line-height:30px;">
    <span class="dropdown">
      <span data-toggle="dropdown">
        <a href="#">
          <i class="icon-cog"></i>
          <i class="icon-caret-down"></i>
        </a>
      </span>
      <ul class="dropdown-menu pull-right">
        <li><a href="#">Settings</a></li>
        <li><a href="/sessions/destroy">Log out</a></li>
      </ul>
    </span>
  </div>
  
  <a href="/" class="logo"></a>
  
  <div class="alert-success" id="account-success-alert">Your account has been updated.</div>
  <div class="alert-success" id="password-success-alert">Your password has been changed.</div>
  
  <h3 style="margin:20px 0;">Settings</h3>

  <h5>Profile</h5>
  <form style="margin:10px 0;">
    <small>Title</small><br>
    <input class="input-block-level" id="profile-title-input" type="text"><br>
    <small>Image URL</small><br>
    <input class="input-block-level" id="profile-image-url-input" type="text"><br>
    <button type="submit" class="btn btn-primary" data-bind="click: profileEditor.save">Save profile</button>
  </form>
  
  <hr style="margin:20px 0;border-top-color:#ddd;">

  <h5>Account</h5>
  <form data-bind="submit: settings.saveAccount">

    <small>Email</small><br>
    <input type="text" class="input-block-level" id="email-input" data-bind="value: settings.email"><br>
    <small class="text-error" id="invalid-email-error">Email is not valid.</small>
    <small class="text-error" id="taken-email-error">Email has already been taken.</small>

    <small>Username</small><br>
    <input type="text" class="input-block-level" id="username-input" data-bind="value: settings.username"><br>
    <small class="muted" data-bind="text: 'http://discoverible.com/' + settings.username()">http://discoverible.com/</small><br>
    <small class="text-error" id="blank-username-error">Username can't be blank.</small>
    <small class="text-error" id="taken-username-error">Username has already been taken.</small>
    <button class="btn btn-primary" style="margin-top:10px;">Save account</button>
  </form>
  
  <hr style="margin:20px 0;border-top-color:#ddd;">
  
  <h5>Change password</h5>
  <form data-bind="submit: settings.savePassword">
    <small>Current password</small><br>
    <input type="password" class="input-block-level" id="current-password-input" data-bind="value: settings.currentPassword"><br>
    <small class="text-error" id="blank-current-password-error">Current password can't be blank.</small>
    <small class="text-error" id="incorrect-current-password-error">Current password is incorrect.</small>

    <small>New password</small><br>
    <input type="password" class="input-block-level" id="new-password-input" data-bind="value: settings.newPassword"><br>
    <small class="text-error" id="blank-new-password-error">New password must be 6 characters minimum.</small>

    <small>Confirm new password</small><br>
    <input type="password" class="input-block-level" id="password-confirmation-input" data-bind="value: settings.passwordConfirmation"><br>
    <small class="text-error" id="blank-password-confirmation-error">Confirmation can't be blank.</small>
    <small class="text-error" id="passwords-match-error">Passwords don't match.</small>
    <button class="btn btn-primary">Change password</button>
  </form>

  <hr style="margin:20px 0;border-top-color:#ddd;">

  <a href="#"><small>Deactivate account</small></a>
</div>
</div>

<script>
  di.userData = <%= raw @data.to_json %>;
  $(function () {
    //ko.applyBindings(di);
    //di.user.init();
    //di.settings.init();
    //di.modal.init();
  });
</script>



















