<%= render partial: "shared/header" %>

<div class="container" style="padding-top:20px;">
  <h3>Contact</h3>
  <p>
    Do you have any questions, comments, suggestions ...?
    <br>
    Feel free to email at <a href="mailto:support@discoverible.com">support@discoverible.com</a>
  </p>
</div>
