html {
  height: 100%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  height: 100%;
}

h3 {
  margin: 0
}

i {
  text-decoration: none !important;
}

.navbar-inner {
  border: none;
}

.navbar-form {
  margin-left: 130px;
}

.navbar .nav>li>a {
  padding: 10px;
}

.container {
  position: relative;
}

.beta-tag {
  line-height: 1;
  color: #fff;
  position: absolute;
  bottom: 10px;
  margin-left: 5px;
}

.beta-tag-home {
  bottom: 27px;
  color: #333;
  font-size: 15px;
}

.page-header {
  margin: 0 0 20px;
  padding: 20px 0;
  position: relative;
}

ol {
  margin: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#push {
  height: 40px;
}

#footer {
  height: 40px;
  text-align: center;
}

#footer p {
  margin: 10px 0;
}

ul {
  margin: 0;
}

#name {
  cursor: pointer;
  color: #999;
  line-height: 40px;
}

.open #name {
  color: #333;
}

#name:hover {
  color: #333;
}

.logo {
  display: block;
  float: left;
  width: 110px;
  height: 30px;
  background: url(logo_000.png);
  margin: 5px 0;
}

.logo-home {
  display: block;
  float: left;
  width: 147px;
  height: 40px;
  background: url(logo_000_large.png);
  margin: 0;
}

.logo-medium {
  float: none;
  width: 150px;
  height: 40px;
  background: url(discoverible_logo_medium.png);
}

.logo-big {
  width: 200px;
  height: 50px;
  background: url(discoverible_logo_big.png);
}

.form-signup {
  width: 280px;
}

.container {
  width: 730px !important;
}

.container-inner {
  width: 480px;
  margin-left: 210px;
  padding: 0 10px;
}

.content {
  width: 480px;
  padding: 0 10px;
  margin: 0 0 50px 230px;
  position: relative;
}

#content-heading {
  margin: 0;
}

.add-form {
  margin-bottom: 20px;
}

.sidebar {
  float: left;
  width: 220px;
}

.result-list {
  position: relative;
  list-style: none;
  width: 100%;
  margin: 10px 0;
}

.result {
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  margin: 0 -10px;
}

.result:hover {
  background: #f5f5f5;
}

.result-inner {
  padding: 5px 10px;
}

.edit-action, .delete-resource {
  margin-left: 5px;
}

.resource-title {
  font-weight: bold;
}

.player-container {
  width: 478px;
  height: 269px;
  background: #000;
  margin: 4px 0 5px;
}

.player {
  float: left;
  width: 100%;
  height: 100%;
}

.player-hidden {
  margin-left: -9999px;
}

.resource-image {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
  margin-left:0;
  background-position: center center;
  background-size: cover;
}

.resource-facets {
  clear: left;
  line-height: normal;
}

.resource-actions {
  font-size: 85%;
}

.selected-resource {
  border: 1px solid #ddd;
}

.selected-resource .resource-actions>a {
  color: #08c;
}

.selected-resource:hover {
  background: transparent;
}

.add-element-form {
  margin: 20px;
}

.add-element-form input {
  width: 166px;
}

.element {
  padding: 5px 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 178px;
}

.element.muted {
  cursor: default;
}

.element:hover {
  background: #f5f5f5;
}

.element:hover>i {
  color: #333 !important;
}

.element.muted:hover {
  background: #fff;
}

.element-label {
  cursor: pointer;
  padding: 0 2px;
  line-height: 1.4;
}

.element-label span,
.element-label small {
  display: inline-block;
  vertical-align: middle;
}

.element-label:hover {
  background: #f5f5f5;
}

.facet-menu-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0 2px;
  padding-left: 12px;
  line-height: 1.4;
}

.facet-menu-item:hover {
  background: #f5f5f5;
}

.facet-menu-item>a {
  text-decoration: none;
}

.facet-menu-item-name {
  display: block;
  padding-right: 30px;
  text-indent: -10px;
}

.element-value-remove {
  float: right;
  position: absolute;
  right: 2px;
  bottom: 0;
}

.element-value-count {
  position: absolute;
  right: 2px;
  bottom: 0;
}

.element-value-disabled {
  cursor: auto;
}

.element-value-disabled:hover {
  background: transparent;
}

.breadcrumbs {
  margin-bottom: 5px;
}

.di-modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4000;
}

.di-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #fff;
}

.modal {
  border: 1px solid #ccc;
  position: relative;
  width: 498px;
  margin: 80px auto 100px;
  left: 0;
  top: 0;
}

.modal-header {
  padding: 15px 20px;
}

.modal-header h4, .modal-header h5 {
  margin: 0;
}

.metadata-modal .modal {
  width: 500px;
}

.batch-editor-modal .modal {
  width: 290px;
}

.metadata-modal-close {
  color: #aaa;
  cursor: pointer;
  margin-left: 20px !important;
}

.metadata-modal-close:hover {
  color: inherit;
}

.metadata-modal input {
  margin: 5px 0;
  vertical-align: middle;
}

.metadata-modal-label {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: bold;
}

.metadata-editor-value {
  display: inline-block;
  margin-right: 5px;
  white-space: nowrap;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  font-size: 85%;
}

.metadata-editor-value:hover {
  text-decoration: none;
}

.value-removed {
  color: #bbb;
}

.value-added {
  font-weight: bold;
}

.value-removed:hover {
  color: #bbb;
}

.form-actions {
  margin: 0;
}

.elements-back {
  position: absolute;
  top: 0;
  left: -48px;
}

.signin-modal>.di-modal {
  width: 280px;
}

.facets-reorder-modal>.di-modal {
  width: 243px;
  margin-left: -121px;
}

.modal-body {
  padding: 20px;
  overflow: visible;
  position: relative;
  max-height: none;
}

.signin-modal input {
  margin-bottom: 20px;
}

.icon-remove, .icon-level-up {
  cursor: pointer;
}

.icon-remove:hover, .icon-level-up:hover {
  color: #333;
}

.input-error {
  color: #b94a48 !important;
  border-color: #b94a48 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.input-error:focus {
  border-color: #953b39 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
}

.invisible {
  visibility: hidden;
}

.btn-link-muted {
  color: #999;
  cursor: pointer;
}

.btn-link-muted:hover {
  text-decoration: underline;
}

#show-all {
  float: left;
}

.sort-active {
  background: #eee;
}

.dropdown-menu {
  min-width: 0;
}

#heading {
  margin: 10px 0;
  overflow: hidden;
}

.user-collections {
  padding: 20px;
}

.collection-resource {
  color: #333 !important;
  text-decoration: none !important;
  padding: 10px;
  margin-left:-10px;
  margin-right: 10px;
}

.collection-resource:hover {
  background: #f5f5f5;
}

#waiting {
  position: absolute;
  top: 0;
  left: -10px;
  right:-10px;
  bottom: 0;
  z-index: 1000;
  display: none;
  background: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.previous-page-disabled, .next-page-disabled {
  display: none;
}

#add-facet-error, #rename-value-error {
  display: none;
}

#search {
  margin: 10px 0;
}

.select-medium {
  width: 164px;
}

.search-medium {
  width: 129px;
}

#facets-reorder-list {
  float: left;
  width: 150px;
  margin-right: 10px;
  min-height: 60px;
  border:1px solid #ddd;
}

#facets-reorder-list>li {
  cursor: pointer;
  padding: 0 2px;
}

#facets-reorder-list>li:hover {
  background: #eee;
}

#facets-reorder-list .selected-facet {
  color: #fff;
  background: #08c !important;
}

.control-group {
  margin-bottom: 10px !important;
}

.control-label {
  width: 110px !important;
}

.controls {
  margin-left: 130px !important;
}

.text-error {
  display: none;
}

.alert-success {
  display: none;
  margin-bottom: 10px;
  padding: 0 5px;
}

#home-content {
  margin-top: 100px;
  text-align: center;
}

#collection-image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  float:left;
}

/*
Remove dotted lines on links , buttons and textboxes's border in Bootstrap
http://sarveshkushwaha.blogspot.com.es/2013/05/remove-dotted-lines-on-textbox-border-links-buttons.html
*/
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

a:hover, a:active, a:focus, button:hover, button:active, button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}

.facet-editor-list-item {
  padding: 0 2px;
}

.reorder-button {
  cursor: pointer;
  color: #333;
}

.reorder-button:hover {
  color: #333;
}

.invisible {
  visibility: hidden;
}

.status-bar {
  clear: both;
  position: relative;
  z-index: 1;
  line-height: normal;
}

.facet-menu-header {
  margin-bottom: 5px;
  padding: 0 2px;
  line-height: 1.4;
}

#___ytsubscribe_0 {
  width: 220px !important;
  overflow: hidden;
}

#sign-in-button {
  padding-left: 44px;
  position: relative;
}

#sign-in-button em {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background: url(google_icon.png) no-repeat;
  display: block;
  height: 44px;
  width: 44px;
}

#thumbnail {
  width: 48px;
  height: 48px;
  float: left;
}

#subscribe {
  margin-left: 58px;
  height: 24px;
}

#title {
  font-size: 12px;
  margin-left: 58px;
  display: block;
  height: 23px;
  color: #555;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.navbar .dropdown-menu {
  min-width: 282px;
}

#loading-gif {
  margin-left: 10px;
  display: none;
}