#file-input {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

#profile-image {
  width: 150px;
  height: 150px;
}

.choose-button-hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.choose-button-active {
  background-color: #e6e6e6;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.format-error, .size-error {
  display: none;
}

.choose-button-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#loading {
  display: none;
}

td {
  padding-right: 10px;
}






















