<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37460579-4', 'discoverible.com');
    ga('send', 'pageview');

  </script>
</head>
<body>

<div id="wrap">
  <%= yield %>
  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted">
        © 2013 Discoverible
        <a href="/contact" style="margin-left:5px;">Contact</a>
    </p>
  </div>
</div>

<%= yield :javascript %>
</body>
</html>
